@import "src/styles/references";

// Have to add selector weight to override bootstrap style
.todo-table-row .todo-table-row__col {
  vertical-align: middle;
}

.todo-table-row__col--description {
  cursor: pointer;
}

.todo-table-row__col--done {
  color: $secondary;
  text-decoration: line-through;
}

.todo-table-row__col--actions {
  text-align: right;
}

.todo-table-row__action {
  cursor: pointer;
}

.todo-table-row__action--trash {
  margin-left: 1rem;
}
